- (id) initWith${1:YourStuff}:(${2:GoodClass}*) the${2}
{
  if (self = [super init]) 
  {
		${3} 
  }
  else
  {
    [NSException raise:@"ERROR" format:@"##### super could not initialize"];
  }
  return self;
}
