## TITLE
Markup for *italics* and **bold**. 
Hyperlinks: [The Pragmatic Programmers][pragprog] and [TextMate][].
[pragprog]: http://www.pragmaticprogrammer.com/ [textmate]: http://macromates.com/
> We can insert quoted text just like this.
  Use identation to format code/quotes
  Like this
Markdown also supports lists, of course. You can have unordered:
* application 
* library 
or ordered:
1. first 
2. second 
