/**
 * class $1
 * @author ${3:`g:snips_author`}
 */
class ${1:`Snippet_JavaClassNameFromFilename()`}${2} {

	/**
	  * Constructor for $1
	  */
	def $1(${4}) {
		${5}
	}

	public static void main(String args[]) {
	}

}
